service cloud.firestore {
  match /databases/{database}/documents {
    match /memos/{user_id} {
      allow read, write: if request.auth.uid == user_id;
    }
    match /tasks/{user_id} {
      allow read, write: if request.auth.uid == user_id;
    }
    match /users/{user_id}/date/{date} {
      allow read, write: if request.auth.uid == user_id;
    }
  }
}